body {
    background: radial-gradient(circle, black, white);
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
}
.display-none{
    display: none;
}
.tarjeta{
    width: 30%;
    border: 5px solid black;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-size: 1.7rem;
    text-align: center;
}
.tarjeta-nombre{
    margin-bottom: 10px;
}
img{
    width: 15rem;
    margin-bottom: 25px;
}
.tarjeta-detalles{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-atras{
    background-color: white;
    margin-bottom: 15px;
    border-radius: 25px;
}