body {
    background: radial-gradient(circle, black, white);
}
#titulo{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta{
    width: auto;
    border: 5px solid black;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-size: 1.7rem;
    text-align: center;
}
.tarjeta-nombre{
    margin-bottom: 5px;
}
.img-principal{
    width: 40%;
    margin-bottom: 5px;
}
.img-detalles{
    width: 105%;
    margin-top: 15px;
    margin-bottom: 25px;
}
.contenedor-detalles{
    display: none;
    flex-direction: column;
    align-items: center;
}

.tarjeta-detalles{
    display: none;
    flex-direction: column; 
    align-items: center;
    width: auto;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 1.5em;
}

.titulo-detalles-nombre .tarjeta-nombre {
    font-size: 2.5em;
}

h2{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 200;
}
.boton-atras{
    background-color: white;
    margin-bottom: 15px;
    border-radius: 25px;
    padding: 15px 35px;
}